/* Estiliza o fundo semitransparente */
.modal-overlay {
  position: fixed; /* Fixa o modal sobre todo o conteúdo da página */
  background-color: rgba(0, 0, 0, 1); /* Fundo semitransparente */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  z-index: 1000; /* Garante que fique acima de outros elementos */
  color: white;
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: white; /* Fundo branco para o conteúdo */

  padding: 20px;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center;
  z-index: 1001; /* Garante que o conteúdo fique acima do overlay */
  max-width: 400px; /* Define um limite de largura */
  width: 100%; /* O modal se adapta ao tamanho da tela */
}

.modal-content h5 {
  margin-bottom: 15px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #0056b3;
}
